*.png
*.jpg
*.JPG
checkpoints/*
data/*
dataset/*
log/*
text_dataset/*
src/__pycache__/*
src/net/__pycache__/*
src/text/__pycache__/*
src/classify/__pycache__/*
*.pyc
rnn_saves/twain/*
rnn_saves/all/val/*
*.npz
